
@import "~antd/dist/antd.less";

@background-color: #333332;
@text-color: #FEFEFE;


body {
  background-color: #333332;
}

.header {
  height: 60px;
  background-color: #333332;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 0;
}

.locale {
  display: inline-flex;
  background-color: transparent;
  width: 90px;
  border: 1px solid #ABABAB;
  height: 40px;
  border-radius: 5px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  span {
    margin-bottom: 0;
    padding-left: 14px;
  }
}


.hero-image {
  position: absolute;
}