
@import "~antd/dist/antd.less";

@background-color: #333332;
@text-color: #FEFEFE;
@box-color: #F5F5F7;
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 1024px;
@screen-lg: 1200px;

body {
  background-color: @background-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  @media screen and (max-width: @screen-lg) {
    font-size: 14px;
  }
  @media screen and (max-width: @screen-md) {
    font-size: 12px;
  }
}

.header {
  height: 60px;
  background-color: @background-color;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: white;
    font-weight: 200;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.main-content {
  width: 700px;
  background-color: @box-color;
  position: absolute;
  top: 0;
  margin-top: 80px;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 5px;
  @media screen and (max-width: @screen-lg) {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    border: unset;
    width: 100%;
    margin-top: -400px;
    border-radius: unset;
  }
  @media screen and (max-width: @screen-md) {
    margin-top: -300px;
  }
  @media screen and (max-width: @screen-sm) {
    margin-top: -115px;
  }

}

.current-container, .target-container, .probability-container {
  padding: 40px;
  color: black;
  h1 {
    font-weight: 600;
  }
}

.welcome-box {
  margin-bottom: 20px;
}

.currency-form {
  display: flex;
  gap: 15px;
  .MuiFormControlLabel-root {
    span {
      width: unset;
      @media screen and (max-width: @screen-md) {
        font-size: 12px;
      }
    }
  }
}

.form-column {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 50%;
}

.sq-earned {
  margin-top: 60px;
}

.add-event {
  display: flex;
}

.current-container {
  .footer {
    justify-content: flex-end;
  }
}

.probability-container {
  .footer {
    padding-top: 20px;
    justify-content: flex-start;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 10px;
  a {
    color: @background-color;
  }
  

  .MuiButton-contained {
    width: 150px;
    height: 60px;
    @media screen and (max-width: @screen-xs) {
      width: 70px;
    }
  }
  
  .next-button {
    display: flex;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
  }
}

.exclusions {
  display: flex;
  flex-direction: column;

  p {
    font-size: 16px;
    font-weight: 400;
    @media screen and (max-width: @screen-md) {
      font-size: 12px;
    }
  }
}

.targets-added {
    padding-top: 20px;
}

.target-selections {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  padding: 25px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 20px;
  @media screen and (max-width: @screen-lg) {
    width: 100%;
    padding: 15px;
  }
}

.add-button {
  margin-left: calc(100% - 80px);
}

.target-type, .target-rarity, .target-shared {
  p {
    margin-bottom: 20px;
  }
}

.target-name {
  margin-top: 20px;
}

.probability-container {
  .header {
    margin-bottom: 0;
  }
  .subheader {
    font-weight: 200;
    font-size: 1em;
    line-height: 1.3;
  }
}

.total-sq {
  display: flex;
  align-items: center;
  h2 {
    margin-right: 20px;
    margin-bottom: 0;
  }

  span {
    font-size: 24px;
    font-weight: 600;
  }
}

.probability-calculations {
  margin-top: 20px;
  background-color: @text-color;
  border: 1px solid #ABABAB;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.target-name {
  font-weight: 600;
  font-size: 16px;
}

.target-prob-container {
  display: flex;
  padding-top: 30px;
}

.target-prob-box {
  padding-left: 20px;
}

.target-prob-percent {
  font-size: 24px;
  font-weight: 600;
}

.banner-copy {
  font-weight: 600;
}

.are-you-a-whale {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spendings {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.sq-spent {
  display: flex;
  font-size: 24px;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 600;
  align-items: center;
}

.yea-a-whale {
  color: #d32f2f;
}

.not-a-whale {
  color: #2e7d32;
}

.credits-container {
  display: flex;
}

.credits {
  width: 70%;
  margin: 20px;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

a {
  color: #761B24;
}

.probabilityDisclaimer {
  text-align: center;
  margin: 10px;
}

.invalid-date {
  margin-bottom: 20px;
}

.updates {
  font-weight: 600;
}