html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0a233f;
}

.main-container {
  position: relative;
}

.header {
  position: absolute;
  z-index: 2;
  color: white;
  width: 20%;
  left: 30px;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
}

.hero-image::before {
  content: ''; /*required for pseudo-element*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, #0a233f, transparent);
}